<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>"AIzaSyCMvaebuwfpWHVy42mQV3Q8LoX-GZwvabg"</string>
	<key>GCM_SENDER_ID</key>
	<string>909641254501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkay.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-app-reactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-reactnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909641254501:ios:15a9851982f5b8d463e88c</string>
</dict>
</plist>
